 /* ROOT: Equivale ao escopo global do projeto.
        Defina aqui as "Public Static Final" (variáveis) para facilitar a manutenção.
        */
        :root{
            --preto: black;
            --branco: white;
            --cinza: rgb(179, 177, 177);
            --rosa: rgb(231, 14, 116);
            --verde: green;
            --verdeclaro: rgb(81, 189, 81);

        
        }
        /* SELETOR UNIVERSAL: Reseta os padrões do navegador em todos os elementos */
        *{margin: 0; border: 0; padding: 0; box-sizing: border-box;}

        html{font-family: Arial, Helvetica, sans-serif; font-size: 1em;} /* em: adapta aos tamanhos de telas 1em equivale a mais ou menos 16px tamanho padrao*/ 

        header{
            background-color: rgb(24, 23, 23) ; 
            color: var(--branco); 
            padding: 10px; 
            text-align: center; 
            position: sticky; 
            top: 0px; 
            width: 100%;
            z-index: 1000; 
        }

        nav{display: block; padding: 5px ; font-size: 1.3em; word-spacing: 12px;}

        a{text-decoration: none;color: aliceblue;} /*Text decoration none tira o sublinhado de links**/

        a:hover{color: rgb(34, 181, 240);}



        body{
            background-color: var(--cinza);

        }

        main{
            background-color: var(--branco);
            padding: 1.5%; 
            margin: auto; 
            max-width: 1024px;
            margin-top: 2.0%;
            margin-bottom: 3.8%;
            border-radius: 20px;
            box-shadow: 1px 1px 5px 0.5px rgb(24, 23, 23) ; /* Sombra do main posivito e negativo muda onde a sombra esta*/
    
        }

        aside{
            background-color: var(--branco);
            padding: 1.5%; margin: auto; 
            max-width: 1024px;
            margin-top: 2.0%;
            margin-bottom: 3.8%;
            border-radius: 20px;
            box-shadow: 1px 1px 5px 0.5px rgb(24, 23, 23) ;

        }
        
        h1{font-size: 2em;}
        h2{font-size: 1.5em;}
        h3{font-size: 3em;}
        h4{font-size: 1em;}
        h1, h2, h3, h4, h5, h6{padding-top: 0.5%; padding-bottom: 0.5%;}

        /* cONFIGURAÇÕES DE IMAGENS*/
        img{width: 100%; padding-top: 2%; padding-bottom: 2%;}

        /*CONFIGURAÇÕES DE PARÁGRAFOS*/

        p{padding-top: 0.5%; padding-bottom: 0.5%; text-align: justify;}

        /* Configurações de paragrafos para dispositivos moveis */

        @media(min-width: 320px) and (max-width: 1024px){ /* ajuste para tamanho de tela de celulares */

            p{padding: 1%;}

            header{position: static;} /* tirei o header que acompanha da mt erro em cel */
            
            main {margin-left: 1.5%; margin-right: 1.5%;}

            aside{margin-left: 1.5%; margin-right: 1.5%;}

        }
         /* COnfiguração das grids */

         #grid-conteudo{background-color: var(--cinza);} /* id vc usa o # pra referenciar aq e a classe usa . */

         .grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) ); 
            /* Cria modelo de colunas responsiva onde se tiver em sites com telas maiores ele vai se comportar normal com 300px 
            e em telas menores ele vai identificar o tamanho da tela e vai comecar a fazer a coluna com oq cabe na tela;*/
            max-width: 1024px ;
            margin: auto;
            gap: 1px;
        }

        .grid div{background-color: var(--branco); text-align: center; padding: 2px;}


        footer {
            background-color: rgb(24, 23, 23); 
            color: var(--branco); 
            padding: 20px 10px; /* Aumentei um pouco o respiro para ficar igual ao header */
            text-align: center;
            width: 100%; /* Garante que ele ocupe toda a largura da tela */
            margin-top: 20px; /* Dá uma distância saudável do conteúdo acima */
        }   

        footer p {
            text-align: center; /* Garante que o texto do parágrafo também centralize */
            font-size: 0.9em; /* Geralmente letras de rodapé são um pouco menores */
        }  
        
        button{
            padding: 8px 20px;
            background-color: var(--verde);
            color: var(--branco);
            border-radius: 10px;
            font-weight: bold;
            font-size: 1.3em;
            display: block;
            margin: auto;
            transition: 0.4s ease; /* Define o tempo da transição ao passar o mouse na frente do botao */
        }

        button:hover{background: var(--verdeclaro); text-shadow: 1px 1px var(--preto);} /* Define animação de passar o mouse em cima do botao*/