*{
            margin: 0;
            border: 0;
            padding: 0;
        }
        
        /* aqui é a entrada do CSS no codigo, engracado muda até o jeito de comentar */ 
            h1{font-family: Arial, Helvetica, sans-serif;
            font-size: 35px;
            color: blue;
            text-align: left;
             }
             h2{font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: blue; text-align: left;}

             p{font-family: Arial, Helvetica, sans-serif; font-size: 16px;}

             img{display: block; margin: 0 auto; width: 250px;} /* o margin 0 auto e para imgs para texto é a linha abaixo text align center*/

             footer {display: block; text-align: center; font-family: Arial, Helvetica, sans-serif;
                background: linear-gradient(to top, tomato, darkorange, orange)}

             h6 {text-align: right}

             header {
                background: linear-gradient(to bottom, tomato, darkorange, orange);
             }

             div{
                background-color: white;
                display: block;
                margin: 0 auto;
                text-align: justify;
                width: 90%;
                padding: 2%;
                border-radius: 25px ;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
             }

             body{
                background-color: whitesmoke;
             }

             h6 {text-align: center;}